
          

<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div class="footer-container d-flex align-items-center justify-content-between py-3 flex-md-row flex-column">
      <div class="text-body mb-2 mb-md-0">
        © <script>document.write(new Date().getFullYear())</script>, made with <span class="text-danger"><i class="tf-icons mdi mdi-heart"></i></span> by <a href="https://themeselection.com/" target="_blank" class="footer-link fw-medium">ThemeSelection</a>
      </div>
      <div class="d-none d-lg-inline-block">
        
        <a href="https://themeselection.com/license/" class="footer-link me-3" target="_blank">License</a>
        <a href="https://themeselection.com/" target="_blank" class="footer-link me-3">More Themes</a>
        
        <a href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-3">Documentation</a>
        
        
        <a href="https://themeselection.com/support/" target="_blank" class="footer-link d-none d-sm-inline-block">Support</a>
        
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->

          
          <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
      </div>
      <!-- / Layout page -->
    </div>

    
    
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    
    
    <!-- Drag Target Area To SlideIn Menu On Small Screens -->
    <div class="drag-target"></div>
    
  </div>
  <!-- / Layout wrapper -->

  

  

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="/vendor/libs/jquery/jquery.js"></script>
  <script src="/vendor/libs/popper/popper.js"></script>
  <script src="/vendor/js/bootstrap.js"></script>
  <script src="/vendor/libs/node-waves/node-waves.js"></script>
  <script src="/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="/vendor/libs/hammer/hammer.js"></script>
  <script src="/vendor/libs/i18n/i18n.js"></script>
  <script src="/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="/vendor/js/menu.js"></script>
  
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="/vendor/libs/apex-charts/apexcharts.js"></script>
  <script src="/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
  <!-- Flat Picker -->
  <script src="/vendor/libs/moment/moment.js"></script>
  <script src="/vendor/libs/flatpickr/flatpickr.js"></script>
  <!-- Form Validation -->
  <script src="/vendor/libs/%40form-validation/umd/bundle/popular.min.js"></script>
  <script src="/vendor/libs/%40form-validation/umd/plugin-bootstrap5/index.min.js"></script>
  <script src="/vendor/libs/%40form-validation/umd/plugin-auto-focus/index.min.js"></script>
  

  <!-- Main JS -->
  <script src="/js/main.js"></script>
  

  <!-- Page JS -->
  <script src="/js/app-ecommerce-dashboard.js"></script>
  

  <script>
    function getsubcat(){
      var catid = document.getElementById('product-category').value;
      //alert(catid)
      $.ajax({
        url:"/admin/ecate/getsubcat",
        method:"post",
        data:{
          'catid':catid
        },
        success:function(res){
          $('#product-subcategory').html(res)
        }
      })
    }

    function getecat(){
      var subcatid = document.getElementById('product-subcategory').value;
      //alert(catid)
      $.ajax({
        url:"/admin/brand/getecatadata",
        method:"post",
        data:{
          'subcatid':subcatid
        },
        success:function(res){
          $('#product-ecategory').html(res)
        }
      })
    }
    
    function getbrand(){
      var ecatid = document.getElementById('product-ecategory').value;
      //alert(catid)
      $.ajax({
        url:"/admin/type/getbrands",
        method:"post",
        data:{
          'ecatid':ecatid
        },
        success:function(res){
          $('#product-brand').html(res)
        }
      })
    }


    function gettypes(){
      var brandid = document.getElementById('product-brand').value;
      //alert(catid)
      $.ajax({
        url:"/admin/brand/gettype",
        method:"post",
        data:{
          'brandid':brandid
        },
        success:function(res){
          $('#product-type').html(res)
        }
      })
    }

    function deleteimg(id,i,img){
      console.log(id);
      console.log(i);
      $.ajax({
        url:"/admin/product/deleteimg",
        method:"post",
        data:{
          'id':id,
          'i':i,
          'img':img
        },
        success:function(res){
          location.reload();
        }
      })
    }

    // function editimg(id,i,img){
    //   console.log(id);
    //   console.log(i);
    //   $.ajax({
    //     url:"/admin/product/editimg",
    //     method:"post",
    //     data:{
    //       'id':id,
    //       'i':i,
    //       'img':img
    //     },
    //     success:function(res){
    //       window.location.href('/admin/product/')
    //     }
    //   })
    // }
      
    function checkemail(){
      var email = document.getElementById('newuseremail').value;
      $.ajax({
        url:"/admin/checkemail",
        method:"post",
        data:{
          'email':email
          
        },
        success:function(res){
          $('#error').html(res.msg)
        }
      })
    }

    function checkpassword(){
      var password = document.getElementById('password').value;
      if(password.length>=6){
        document.getElementById('passerror').innerHTML="";
      }
      else{
        document.getElementById('passerror').innerHTML="Password Must Have 6 Digit";
      }
    }
    

  
  </script>
</body>


<!-- Mirrored from demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/app-ecommerce-dashboard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 26 Dec 2023 06:23:54 GMT -->
</html>

<!-- beautify ignore:end -->

