
<%-include('header')%>
<div class="col-xxl">
    <div class="card mb-4">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="mb-0">Basic with Icons</h5> <small class="text-muted float-end">Merged input group</small>
      </div>
      <div class="card-body">
        <form action="/admin/category/updateCategoryData"  method="post">
            <input type="hidden" name="EditId" value="<%=cdata.id%>">
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Name</label>
            <div class="col-sm-10">
              <div class="input-group input-group-merge">
                <input type="text" id="product-name" value="<%=cdata.cateName%>" name="cateName" class="form-control" placeholder="e.g : Electronics" />
              </div>
            </div>
          </div>
          
          <div class="row justify-content-end">
            <div class="col-sm-10">
                <button type="reset" class="btn w-sm btn-danger waves-effect">Reset</button>
              <button type="submit" class="btn btn-primary">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

 

<%-include('footer')%>